@model MusicDatabase.Data.Tables.Artist

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ArtistName" class="control-label"></label>
                <input asp-for="ArtistName" class="form-control" />
                <span asp-validation-for="ArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealName" class="control-label"></label>
                <input asp-for="RealName" class="form-control" />
                <span asp-validation-for="RealName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsGroup" class="control-label"></label>
                <input asp-for="IsGroup" class="form-control" />
                <span asp-validation-for="IsGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartedYear" class="control-label"></label>
                <input asp-for="StartedYear" class="form-control" />
                <span asp-validation-for="StartedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
